/* @import "base.css"; */


@media screen {
    #menue {
        position: fixed;
        top: 10px;
        float: left;
        overflow: auto;
        width: 12%;
        height: 500px;
        font-size: 0.9em;
        text-align: center;
    }

    #main {
        float: right;
        width: 86%;
        margin: 0 10px;
    }
}

@media print {
    /* Regeln für Drucker */
    #menue {
        display: none;
    }

    #main {
        clear: none;
        width: 100%;
    }
}

/***** Normalisierung *****/
a:link {
    text-decoration: none;
    color: darkblue;
}

a:visited {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

a:active {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

img {
    border: none;
    vertical-align: middle;
}

table {
    border: none;
}

td {
    vertical-align: top;
    /* padding und white-space:nowrap;  <-- wirkt sich auf Tooltipps aus */
    /* border:1px dotted gray; /* zu testzwecken */
}

fieldset {
    border-radius: 0.5em;
    border: solid 1px #0080ff;
    padding: 10px;
}

legend {
    color: #0080ff;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    cursor: pointer;
    width: 120px;
    margin: 2px;
}

button.noBG {
    background: transparent;
    border: none;
}

/* für Länderflaggen im Menübereich */
button.flag {
    background: transparent;
    border: none;
    width: 34px;
    height: 22px;
}

#bereich {
    /* Überschrift und Suchfeld -> Bereich */
    top: 0;
    color: #0080ff;
    font-size: 1.4em;
    font-weight: bold;
    margin: 10px;
    padding-left: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #0080ff;
}

#ueschrift {
    color: #0080ff;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#suchfeld {
    /* Container für Floatobjekte 'bearbbtn' und 'left' */
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    overflow: auto;
}

#bearbbtn {
    float: right;
}

#left {
    float: left;
}

#list-item {
    padding: 10px auto;
}

#einzug {
    padding-left: 3em;
    clear: both;
}

div#overDiv {
    position: absolute;
    visibility: hidden;
}

.top {
    vertical-align: top;
}

.re {
    text-align: right;
    padding-right: 10px;
}

.alias {
    font-weight: normal;
}

.fett {
    font-weight: bold;
}

.note {
    color: #A0A0A0;
    font-stretch: semi-condensed;
    white-space: normal;
    font-size: 0.9em;
}

.newstitel {
    font-weight: bold;
    padding-top: 0.6em;
}
.newstext {
    white-space: normal;
    padding-right: 3em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border-bottom: 1px solid #0080ff;
}

.darkBG {
    background-color: rgba(0,128,255,0.05);
}

.error {
    /* Fehlermeldungen für Nutzer */
    margin: 5px;
    padding: 5px;
    font-family: monospace;
    font-weight: normal;
    white-space: pre;
    color: #C00010;
    background-color: #FFEfEf;
    border: 1px solid #C00010;
}

.warng {
    /* Warnhinweis - doppelte Datensätze etc. */
    margin: 5px;
    padding: 5px;
    font-family: monospace;
    font-weight: normal;
    white-space: pre;
    text-decoration: blink;
    color: #C00010;
    background-color: #FFEf00;
    border: 1px solid #C00010;
}

.hinw {
    /* Hinweise für Nutzer */
    margin: 5px;
    padding: 5px;
    font-family: monospace;
    font-weight: normal;
    white-space: pre;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.erfolg {
    /* Erfolgsmeldung für Nutzer */
    margin: 5px;
    padding: 5px;
    font-family: monospace;
    font-weight: normal;
    white-space: pre;
    color: #004000;
    background-color: #eeffee;
    border: 1px solid #008000;
}

.visor {
    /* Internes Arbeitsmittel für Breakpoints und Testausgaben !no Touch please! */
    position: relative;
    margin: 20px;
    font-family: monospace;
    white-space: pre;
    color: #004000;
    background-color: #eeffee;
    border: 1px dotted #008000;
    padding: 5px;
    z-index: 99;
}
